.navbar {
  width: 100%;
  background: rgba(3, 6, 23, 0.95);
  border-bottom: 1px solid #1e293b;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  width: 92%;
  max-width: 1400px;
  min-height: 80px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

.logo span {
  background: linear-gradient(90deg, #8b5cf6, #6366f1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links {
  display: flex;
  align-items: center;

  list-style: none;

  gap: 32px;

  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #cbd5e1;
  font-size: 14px;
  text-decoration: none;

  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #8b5cf6;
}

.hire-button {
  padding: 12px 22px;

  color: white;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #4f46e5
  );

  border-radius: 10px;

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;

  box-shadow: 0 8px 30px rgba(124, 58, 237, 0.25);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.resume-button:hover {
  transform: translateY(-2px);

  box-shadow:
    0 10px 35px rgba(124, 58, 237, 0.4);
}

.menu-button {
  display: none;

  background: transparent;
  border: none;

  color: white;

  font-size: 27px;
  cursor: pointer;
}


/* MOBILE */

@media (max-width: 950px) {

  .menu-button {
    display: block;
  }

  .navigation {
    display: none;

    position: absolute;

    top: 100%;
    left: 0;

    width: 100%;

    padding: 25px 5%;

    background-color: #030617;

    border-top: 1px solid #1e293b;

    flex-direction: column;
    align-items: flex-start;
  }

  .navigation.active {
    display: flex;
  }

  .nav-links {
    width: 100%;

    flex-direction: column;
    align-items: flex-start;

    gap: 0;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    display: block;

    width: 100%;

    padding: 14px 0;

    border-bottom: 1px solid #1e293b;
  }

}