<section class="projects" id="projects">

  <div class="projects-container">

    <div class="section-heading">
      <p class="section-label">MY WORK</p>

      <h2>Featured Projects</h2>

      <p class="section-description">
        A selection of software and web development projects
        that demonstrate my experience with modern technologies.
      </p>
    </div>


    <div class="projects-grid">

      @for (project of projects; track project.title) {

        <article class="project-card">

          <div class="project-top">

            <div class="project-icon">
              &lt;/&gt;
            </div>

            <span class="project-number">
              0{{ $index + 1 }}
            </span>

          </div>


          <h3>
            {{ project.title }}
          </h3>


          <p class="project-description">
            {{ project.description }}
          </p>


          <div class="technologies">

            @for (technology of project.technologies; track technology) {

              <span class="technology">
                {{ technology }}
              </span>

            }

          </div>


          <div class="project-links">

            @if (project.githubUrl) {

              <a
                [href]="project.githubUrl"
                target="_blank"
                rel="noopener noreferrer"
                class="code-link">

                View Code →

              </a>

            }


            @if (project.liveUrl) {

              <a
                [href]="project.liveUrl"
                target="_blank"
                rel="noopener noreferrer"
                class="live-link">

                Live Website ↗

              </a>

            }

          </div>

        </article>

      }

    </div>

  </div>

</section>